
# فایل‌های بیلد و کامپایل
cmake-build-*/
build/
*.user
CMakeLists.txt.user

# تنظیمات محیط توسعه JetBrains Rider
.idea/
.vs/

# فایل‌های اجرایی کامپایل‌شده
*.o
*.a
*.so
bin/
all_project_code.txt
bundle_project.py
All_Project_Code.txt
all_project_code.txt
All_Project_Code.txt
all_project_code.txt
